{% extends "cover_template.html"%}
{% block content %}

  <main role="main" class="inner cover">
    <h1 class="cover-heading">We're sorry that this happened. We are here to help you.</h1>
    <!--<p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>-->
    <p class="lead">
      <a href="{{url_for('asessment')}}" class="btn btn-lg btn-secondary">Go to Damage Assessment</a>
    </p>
  </main>
{% endblock %}
